DBT_SNOWFLAKE_ACCOUNT=your_snowflake_account_identifier
DBT_SNOWFLAKE_USER=your_username
DBT_SNOWFLAKE_PW=your_password
DBT_SNOWFLAKE_ROLE=your_role
DBT_SNOWFLAKE_WH=NYC_TAXI_WH
DBT_SNOWFLAKE_DB=NYC_TAXI_DB
